.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.nuxt
/.output
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/playwright-report
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/test-results
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log